
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@*<h1>Trang Chủ Quản Lý</h1>*@
<div >
        <h2>Trang chủ quản lý cửa hàng</h2>
        <p>
            Tại đây bạn sẽ thực hiện các tác vụ quản lý cơ bản cho cửa hàng coffee
        </p>
         
</div>



